.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #222222
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  background: #FFFFFF;
  border: 2px solid #13AE7E;
  border-radius: 16px;
  font-family: 'Roboto';
  color: #0B6E4F;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
  font-style: normal;
  font-weight: 500;
 
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}
.dd-button2 {
  display: inline-block;
  background: #13AE7E;
  border: 2px solid #FFFFFF;
  border-radius: 16px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  padding: 10px 120px 10px 120px;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}


.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 80%;
  /* transform: translate(-800%,-300%); */
  color: #0B6E4F;
  /* background-color:#0B6E4F;; */
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #0B6E4F;;
}
.dd-button2:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 80%;
  right: 15px;
  transform: translate(-800%,-50%);
  color: #FFFFFF;
 
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFFFFF;
}
.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  background: #FFFFFF;
  width: 90%;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 4%;
  margin: 2px 0 0 0;
 opacity: 4;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}
.underline{
 
  padding-bottom: value;
    border-bottom-style: solid;
    color:  #0B6E4F;
}
.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
  opacity: 4;
} 

.dd-menu li {
  padding: 10px 20px;
  opacity: 4;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
  opacity: 4;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
  opacity: 4;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
  opacity: 4;
}
.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
 background-color: #DDDDDD;
  border-radius: 80px;
  position: relative;
  transition: background-color .2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 4px;
  left: 2px;
  height: 34px;
  width: 34px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}